# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Logs
*.log

# Dependencies
node_modules/

# Build outputs
.dist/
dist/
build/

# Environment files
.env
.env.*
!.env.example
